.h1 {
  display: flex;
  justify-content: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: var(--CL-primary-blue-dark);
  padding: 30px;
  border-radius: 8px;
}

.card-img {
  height: 200px;
  width: 300px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.small-cont {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.h3 {
  font-size: 0.95rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-btn {
  margin: 10px;
  padding: 12px 8px;
  width: 200px;
  border-radius: 4px;
  color: antiquewhite;
  background-color: var(--CL-primary-blue-light);
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: 0.25s;
}

.card-btn:hover {
  background-color: var(--CL-neutral-black);
}

.likes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.likes-count {
  margin: 0;
}
