.h1 {
  display: flex;
  justify-content: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column; 
  margin: 20px;
  background-color: antiquewhite;
  padding: 30px;
  border-radius: 8px;
}

.card-img {
  height: 200px;
  width: 300px;
}

.small-cont {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

h3 {
  width: 100px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-btn {
  margin: 10px;
  padding: 8px;
  width: 200px;
  border-radius: 4px;
  background-color: tomato;
  color: antiquewhite;
  font-size: large;
  font-weight: bold;
}