@import url('https://fonts.cdnfonts.com/css/poppins');

:root {
  --CL-primary-blue-light: #386bf3;
  --CL-primary-blue-dark: #f4f7fc;
  --CL-primary-blue-gray: #ebeef0;

  --CL-neutral-white: #ffffff;
  --CL-neutral-black: #000000;

  --FF-poppins: 'Poppins', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--FF-poppins);
  margin: 0;
}

/* Container */
.container {
  width: min(95%, 1280px);
  margin: 0 auto;
}
